<section class="index">
  <div class="title-balloon">
    <h1>taskr</h2>
  </div>

  <div class="bird">
  </div>

  <div class="taglines">
      <h2 class="tagline-1">your incessant reminder</h2>
      <h2 class="tagline-2">to get shit done</h2>
  </div>

  <div class="signin">
    <h2><%= link_to "Sign-in", :sign_in %></h2>
    <h2><%= link_to "Sign-up", :sign_up %></h2>
  </div>
</section>

