<li class="block">
  <%= form_for task do |form| %>
    <p>Completed: <%= form.check_box :completed, class: "completed_checkbox" %></p>
  <% end %>
  <p id="task-title"><%= task.title %></p>
  <p><%= task.body %></p>
</li>
